@import './style.scss';

main{
    width: 90%;
    margin: 0 auto;

    h1{
        text-align: center;
    }

   #search-input{
    display:  none;
   }

    #back-button{
        display: none;
    }

    #next-button{
        display: none;
    }
}